{% extends "base.html" %}

{% block title %}Konto{% endblock %}

{% block content %}
<div>
  <h2 align="center">Nutzerdaten</h2>
  <table align="center" 
    <tr>
      <td colspan="2">---------------------------------Logindaten-------------------------------------</td>
    </tr>
    <tr>
      <th align="left">Benutzername: </th>
      <td><input type="text" class="form-control" value="{{ user.Username }}" disabled></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><button>Kennwort ändern</button></td>
    </tr>
    <tr>
      <td colspan="2">------------------------------Verbauchsdaten---------------------------------</td>
    </tr>
    <tr>
      <th align="left">Stromverbrauch: </th>
      <td><input type="text" class="form-control" value="" disabled></td>
    </tr>
    <tr>
      <th align="left">Gezahlter Strompreis: </th>
      <td><input type="text" class="form-control" value="" disabled></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><button> Speichern</button></td>
    </tr>
     <tr>
      <td colspan="2">-------------------------------------------------------------------------------------</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><a href="{{ url_for('base.logout_func') }}"><button ahref >Logout</button></a></td>
    </tr>
</div>
{% endblock %}
