{% extends "base.html" %}

{% block title %}Registrieren{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('base.register_func') }}">
  <table align="center">
    <tr>
      <td colspan="2">------------------------------Registrierung------------------------------</td>
    </tr>
    <tr>
      <th align="left">Benutzername: </th>
      <td><input type="text" name="username" required></td> 
    </tr>
    <tr>
      <th align="left">Passwort: </th>
      <td><input type="password" name="password" required></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><button type="submit">Registrieren</button></td>
    </tr>
    <tr>
      <td colspan="2">------------------------------------------------------------------------------</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><p>Schon registriert? <a href="{{ url_for('base.login_view') }}">Zum Login</a></p></td>
    </tr>
  </table>
</form>
{% endblock %}
