{% extends "base.html" %}

{% block title %}Batterie-Rechner{% endblock %}

{% block content %}

<div>
  <h2 align="center">Batterie-Rechner</h2>
  <table align="center" 
    <tr>
      <td colspan="2">---------------------------------Grunddaten-------------------------------------</td>
    </tr>
    <form method="POST" action="{{ url_for('battery.calc_data') }}">
    <tr>
      <th align="left">Stromverbrauch des letzten Jahres: </th>
      <td><input type="text" class="form-control" name="consumption" value="{% if data.electricity_consumption_user %}{{ data.electricity_consumption_user  }} {% endif %}"></td>
    </tr>
        <tr>
      <th align="left">Stromkosten pro KWh: </th>
      <td><input type="text" class="form-control" name="price" value="{% if data.electricity_price_user %}{{ data.electricity_price_user  }} {% endif %}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><button ahref >Berechnen</button></a></td>
    </tr>
    </form>
      <td colspan="2">------------------------------Verbauchsdaten---------------------------------</td>
    </tr>
    <tr>
      <th align="left">Empfohlene Batteriegröße: </th>
      <td><input type="text" class="form-control" name="battery" value="{% if data.battery_size %}{{ data.battery_size  }} {% endif %} KWh" disabled></td>
    </tr>
    <tr>
      <th align="left">Optimierter Strompreis: </th>
      <td><input type="text" class="form-control" name="opt_price" value="{% if data.electricity_cost_optimized %}{{ "%.3f"|format(data.electricity_cost_optimized / data.electricity_consumption_user) }} {% endif %} €" disabled></td>
    </tr>
    <tr>
      <th align="left">Potenzielle Jährliche Ersparnisse </th>
      <td><input type="text" class="form-control" name="pot_savings" value="{% if data.savings %}{{ data.savings  }} {% endif %} €" disabled></td>
    </tr>
    <tr>
      <td colspan="2">-------------------------------------------------------------------------------------</td>
    </tr>

</div>
{% endblock %}
